@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
img.main-logo {
  width: 140px;
}
.navbar {
  padding: 5px 0;
}
.search-form {
  width: 100%;
  font-size: 16px;
}
a.main-search {
  background-color: #ff6b6b;
  color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 0;
  line-height: 65px;
}
a.main-search:hover {
  background-color: #fc5959;
  color: #fff;
}
.no-padding {
  padding: 0;
}
.no-l-padding {
  padding-left: 0;
}
.main-block {
  padding: 50px 0;
}


.add-hotel {
  background-color: #fbfbfb;
}
section.add-hotel > .form-wrapper {
  width: 70%;
  background-color: #fff;
  margin: 0 auto;
  padding: 30px 0;
}
.form-wrapper > .row {
  padding: 20px;
}
.register-title {
  font-size: 25px;
  font-weight: 400;
  padding-bottom: 10px;
}
.register-tabs li a {
  padding: 15px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #ff6b6b;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
  letter-spacing: 0.5px;
  font-weight: 500;
}
.tab-content {
  background-color: #fff;
}
span.reg-info {
  font-size: 14px;
  color: #4e4e4e;
  margin-bottom: 20px;
}
.reg-tabs {
  margin-top: 20px !important;
}
form.add-hotel .form-group {
  background-color: #fff;
}
form.add-hotel .form-group label {
  font-size: 14px;
  color: #4e4e4e;
}
form.add-hotel .form-control {
  padding: 11px 10px;
  border-radius: 0;
  font-size: 14px;
  background-color: #fff;
}
.nav-tabs .nav-link {
  border-radius: 0;
}
form.add-hotel select.form-control {
  height: 41px !important;
}
form.add-hotel textarea.input-prop-description {
  height: 120px;
}
.form-error {
  color: red;
  font-size: 13px;
}
.hotel-add-success {
  font-size: 14px;
  padding: 10px;
}

.login-wrapper{
  margin: 20px auto;
  width: 30%;
}

.login-container{
  padding: 20px 0;
}

.login-wrapper{
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  background-color: #6C5B7B;
  -webkit-box-shadow: 9px 9px 16px -6px rgba(0,0,0,0.57);
  -moz-box-shadow: 9px 9px 16px -6px rgba(0,0,0,0.57);
  box-shadow: 9px 9px 16px -6px rgba(0,0,0,0.57);
}

.login-page-sub-title{
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}


.link-text{
  color: #F8B195;
}

.link-text:hover{
  color: #fff;
  text-decoration: none;
}


/* The container */
.check-container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 2px;  
}

/* On mouse-over, add a grey background color */
.check-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}