.no-padding {
  padding: 0 !important;
}
.flexbox {
  display:flex;
  justify-content:center;
  align-items: center;
  flex-flow: column;
}
.container.no-padding {
  padding: 0 !important;
  min-height: 100vh;
  background-color: #eeeff2;
}
.active-text-item, .green-text {
  color: #03943b !important;
}
/*************** header section **************/
#header-wrapper {
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 1;
  border-bottom: 1px solid #edeff1;
  height: 60px;
}
#header {
  height: 100%;
}
.logo-wrapper img {
  width: 80%;
}
.nav-wrapper {
  height: 100%;
}
.logo-wrapper {
  border-right: 1px solid #edeff1;
}
ul.main-menu {
  list-style: none;
  margin: 0;
  position: relative;
  top: 50%;
  left: 48%;
  transform: translate(-50%,-50%);
  height: auto;
  width: 100%;
}
ul.main-menu li {
  display: inline-block;
}
ul.main-menu li a {
  color: #555556;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 200;
  padding: 10px 15px;
  text-decoration: none;
}
/*************** header section ends **************/
/*************** main body starts **************/
.main-body {
  position: relative;
  top: 60px;
}
.main-body {
  background-color: #eeeff2;
  height: auto;
}
/*************** main body ends **************/
